
a{
    color: #fff;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 700;
}

a:hover{
    opacity: 0.8;
}
li{
    list-style: none;
}


img {
    width: 15rem;
}

svg{
    width: 2rem;
    height: 2rem;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}

button:hover{
    opacity: 0.8;
}

.center-width{
    margin: 0 auto;
    width: 90rem;
    max-width: 100%;
}

.center-width-large{
    margin: 0 auto;
    width: 110rem;
    max-width: 100%;
}

.hidden{
    display: none;
}

.current{
    border-bottom: 3px solid #fff;

}

:focus{
    border: 6px red dotted;
}