* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

body {
    font-family: 'raleway', 'sans-serif';
    word-break: break-word;
}
footer{
    margin-top: 3rem;
    margin-bottom: 3rem;
}